/** @format */

.hero-background img {
  /*to make the image responsive and full page */
  /* height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover; */

  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
}
.text-container {
  max-width: 960px;
  position: absolute;
  justify-content: center;
  align-items: center;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.text-container h1 {
  font-family: "Roboto", sans-serif;
  color: #eddbcb;
  font-size: 156px;
  text-shadow: 10px 10px 4px rgba(7, 7, 7, 7);
  text-transform: uppercase;

  /* position: absolute; */
  /* transform: translateX(-50%) translateY(-50%); */

  /* margin: -25px 0 0 -25px; */
}
